.header{
	position: fixed;
	width: 100%;
	float: left;
	background: #fff;
	z-index: 1
}
/************************************************
///////////////////////////////////////////////// 
	session Banner
/////////////////////////////////////////////////	
*************************************************/
.session-banner{
	background: linear-gradient(-1deg, #55C3F1, #FFFBC7);
	float: left;
	width: 100%;
	position: relative;
	padding-top: 80px;
}
.session-banner h1.title{
	text-align: center;
	margin: 58% auto 42% auto;
	font-size: 50px;
	color: #fff
}
.session-banner img{
	width: 100%;
	height: 100%
}
/****************************************/
	/*List All Recruitments*/
/****************************************/
.list-all-recruitments{
	background-color: #F5FBFE;
	width: 100%;
	float: left;
	padding: 100px 0px 85px 0;
	z-index: -2
}
.list-all-recruitments .custom{
	margin-bottom: 50px
}
.list-all-recruitments .thumbnail img{
	border-radius: 10px 10px 0 0;
	width: 100%
}
.list-all-recruitments .description{
	background: #fff;
	padding: 0px 25px 30px 25px;
	border-radius: 0 0 10px 10px;
	color: #333
}
.list-all-recruitments .description h2{
	padding-bottom: 15px;
	padding-top: 20px;
	font-weight: bold;
	text-align: left;
	color: #333;
	margin: 0;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 30px;
}
.list-all-recruitments .description ul.list li span{
	color: #EC6D82;
	margin-right: 15px;
	font-weight: 600
}
.list-all-recruitments  .blog-list-item{
     margin: 0;
     position: relative;
}
.blog-list-item::before {
     content: '';
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 50%;
     -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
     -webkit-transition: .2s;
     transition: .2s;
}
.list-all-recruitments  .blog-list-item-thumbnail {
     display: block;
     text-decoration: none;
     background: #ffffff;
     -webkit-transition: -webkit-transform .2s;
     transition: -webkit-transform .2s;
     transition: transform .2s;
     transition: transform .2s, -webkit-transform .2s;
     position: relative;
	 border-radius: 15px
}
.list-all-recruitments   .blog-list-item-thumbnail:hover {
     -webkit-transform: translate3d(-8px, -8px, 0);
     transform: translate3d(-8px, -8px, 0);
}
.list-all-recruitments  .blog-list-item:hover::before {
	background: #EC6D82;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px
}

/****************************************/
	/*pagination*/
/****************************************/
.list-all-recruitments  .pagination{
	text-align: center;
	padding-top: 50px
}
.list-all-recruitments  .pagination ul{
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 0
}
.list-all-recruitments  .pagination ul li{
	float: left;
	text-align: center;
	padding: 0 10px
}
.list-all-recruitments  .pagination ul li.active a{
	color: #1D2088;
}
.list-all-recruitments .pagination ul li.next a{background: none}
.list-all-recruitments  .pagination ul li a{
	font-size: 24px;
	font-weight: normal;
	padding: 0 2px;
	text-align: center;
	color: #EC6D82;
	font-family: 'Roboto', sans-serif !important;
}